<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>count3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046DC5E51C65BC0500748642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046DC5FC1C65BC0600748642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046DC6071C65BC0600748642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
